$border: 2px solid black;

body {
  border: 2px solid gainsboro;
  background-color: gainsboro;
  height: 100%;
}

#app-main {
  display: grid;
  gap: 1px;
}

.top-panel {
  display: flex;
  flex-direction: row;
  height: 4rem;
  gap: 1px;
}
.top-panel-button {
  margin-left: 10px;
}
.menus-panel {
  display: flex;
  flex-direction: row;
  flex-grow: 0.8;
  align-items: center;
  border: $border;
  background-color: ivory;
}
.main-window {
  display: flex;
  flex-direction: row;
}
.chat-panel {
  display: flex;
  flex-grow: 0.5;
  background-color: ivory;
  visibility: hidden;
}
