$border: 2px solid black;

.open-sessions-panel {
    display: flex;
    flex-direction: column;
    flex-grow: 0.5;
    border: $border;
    background-color: ivory;
  }
.open-sessions-panel-title {
    display: flex;
    justify-content: center;
    margin-top: 5px;
}
.open-sessions-session-column {
    display: flex;
    flex-direction: column;
}
.open-sessions-session {
    display: flex;
}
.open-session-image {
    border: 1px solid black;
    margin: 1px;
}
.open-session-row {
    display: flex;
    flex-direction: row;
    border-top: $border;
}
.open-session-column {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}